<div id="nav-header" class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3"></div>
    <div class="col-sm-8 col-md-9">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link link-action" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-action" routerLink="/home">About us</a>
        </li>
        <li class="nav-item" *ngIf="!login">
          <a class="nav-link link-action" routerLink="/enquiry"
            >Documentation</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
