<div class="row">
  <div class="col-sm-12" id="list-type">
    <p id="list-type-title">List type</p>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home"
          >United Nation Individual</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/entity"
          >United Nation Entity</a
        >
      </li>
      <!-- <li class="nav-item">
        <span class="nav-link">Malaysia</span>
      </li> -->
    </ul>
  </div>
</div>
